* {
    font-family: 'Poppins', sans-serif;
}

/* --- HEADER --- */

.header {
    height: 45em;
    background-image: url("../img/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* --- NAV --- */

.navbar {
    background-color: black !important;
    font-size: 0.94em;
}

.nav-item {
    margin: 0 0.5em !important;
}

.logo-web {
    width: 90px;
    height: 30px;
}

.nav-inicio {
    font-size: 1.4em;
}

/* --- BODY --- */

body {
    height: 100%;
}

/* --- MAIN --- */

.main {
    width: 80%;
    background-color: rgba(220, 220, 220, 1);
    height: 30em;
    margin: 0 auto;
}

.cita-inicio {
    font-size: 1.2em !important;
}

.image-container {
    position: relative;
    text-align: center;
    color: white;
}

.middle-left {
    position: absolute;
    top: 50%;
    left: 8px;
}

blockquote p {
    text-shadow: 2px 2px 2px black;
    font-size: 2em;
}

.blockquote-footer {
    font-size: 1.6em;
    text-shadow: 3px 3px 2px black;
}