* {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/*.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block !important;
}*/

/* ------ HEADER ------ */

.header {
    height: 45em;
    background-image: url("../img/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-title {
    position: relative;
    top: 50%;
    color: white;
    text-shadow: 0px 0px 2px black;
    font-size: 3.8em;
    padding-left: 10%;
    background-color: black;
    width: 50%;
}

/* ------ NAV ------ */

.navbar {
    background-color: black !important;
    font-size: 0.94em;
}

.logo-web {
    width: 140px;
    height: 47px;
}

.nav-link {
    text-transform: uppercase !important;
}

/* ------ BODY ------ */

body {
    height: 100%;
    background-color: whitesmoke;
}

/* ------ MAIN ------ */

.main {
    width: 80%;
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* Main de INICIO */

.cita-inicio {
    font-size: 1.2em !important;
}

.image-container {
    position: relative;
    text-align: center;
    color: white;
}

.middle-left {
    position: absolute;
    top: 50%;
    left: 8px;
}

blockquote p {
    text-shadow: 2px 2px 2px black;
    font-size: 2em;
}

.blockquote-footer {
    font-size: 1.6em;
    text-shadow: 3px 3px 2px black;
}

.carousel-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* FIN Main de INICIO */

/* Main de EJERCICIOS CON PESAS */

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.doble {
    width: 47%;
}

.simple {
    width: 70%;
}

.card {
    box-shadow: 0px 0px 10px black;
}

.col-md-4 {
    display: flex;
    height: 25em;
}

.vertical-medio {
    margin: auto;
}

.titulo {
    margin-bottom: 1em;
    color: white;
    text-shadow: 0em 0em 2px black;
}

.main-ejerconpesa, .main-ejersinpesa {
    margin-top: -22%;
}

.titulo::before {
    display: block;
    content: " ";
    height: 1em;
    visibility: hidden;
}

/* Fin Main de EJERCICIOS CON PESAS */

/* Aside de EJERCICIOS CON PESAS*/

.container-aside {
    margin-left: 1em;
    position: sticky;
    top: 30%;
    margin-top: 3em;
    left: 1em;
    width: 8%;
    border-radius: 6px;
}

.container-aside li {
    border-left: 0.18em solid black;
}

.container-aside li a{
    color: black;
    transition-duration: 0.2s;
    padding-left: 0.5em !important;
}

.container-aside li a:hover {
    padding-left: 1em !important;
}

/* Fin de Aside de EJERCICIOS CON PESAS */

/* Main de EJERCICIOS SIN PESAS */

/* FIN Main de EJERCICIOS SIN PESAS */

/* Inicio de MUSICA */

.main-musica {
    /* El background-image se setea con código de index.js*/
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    margin-top: -3%;
}

.titulo-playlist {
    color: white;
    text-shadow: 2px 2px 2px black;
}

.linea-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.fila-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
}

.aside-musica {
    margin-left: 1em;
    position: sticky;
    top: 30%;
    margin-top: 3em;
    left: 1em;
    width: 8%;
    border-radius: 6px;
}

.aside-musica li {
    border-left: 0.18em solid white;
}

.aside-musica li a{
    color: white;
    transition-duration: 0.4s;
    padding-left: 0.5em !important;
    text-shadow: 0px 0px 2px black;
}

.aside-musica li a:hover {
    padding-left: 1.5em !important;
    cursor: pointer;
}

#regueton, #intenso {
    margin-top: -55%;
}

.playlist {
    width: 700px;
    height: 580px;
}

/* FIN de MUSICA */

/* Inicio de CONTACTANOS */

textarea {
    resize: none !important;
}

.text-success {
    color:green;
    font-size: 1.8em;
}

.text-fail {
    color: red;
    font-size: 1.8em;
}

.valid {
    border: 0.12em solid green;
    border-radius: .25rem;
}

.invalid {
    border: 0.12em solid red;
    border-radius: .25rem;
}

.main-contactanos {
    background-image: linear-gradient( 180deg,  rgba(245,245,245,1) 30%, rgba(211, 14, 14, 0.65) 98.1% );
}

/* FIN de CONTACTANOS */

/* INICIO del main de CARDIO */

.parallax {
    /* El background-image se setea con código de index.js*/
    /* Set a specific height */
    height: 700px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fa-check-circle { 
    color: green !important;
}

.jumbotron {
    background-image: linear-gradient( 44.8deg,  rgba(255,136,102,0.67) -53.1%, rgba(255,221,136,0.28) 49% ) !important;
}

.cardiogif-container {
    margin-left: 15%;
}

.listcontainer {
    box-shadow: 0px 0px 10px black;
}

.container-cardio {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.figure-caption {
    margin-left: 3rem;
}

/* FIN del Main de CARDIO */

/* Inicio del Main de NUTRICION */

.container-nutricion {
    margin: 5em 5em;
}

.container-ais {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.listfade-container {
    margin-top: 3em;
}

/* Fin de INICIO del Main de NUTRICION */

/* OMS */

#oms-logo {
    height: 360px;
    width: 640px;
}

/* FIN OMS */

/* Inicio FOOTER */

.ola {
    width: 100%; 
}

footer {
    width: 90%;
    margin: 0 auto;
}

.footer-logo-img {
    height: 120px;
    width: 120px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.needhelp {
    height: 600px;
    width: 324px;
}

.container-marca {
    display: flex;
    flex-direction: column;
}

/* FIN FOOTER */

.boton-cielo {
    float: right;
    margin-right: 3%;
}

#error_45feb3df2e8634d6e8862e5730fdfff85c1951dd {
    display: none;
}

/* Enviado */

.container-seguinavegando {
    width: 90%;
    color: white;
    text-shadow: 0px 0px 2px black;
}

.card-seguinavegando {
    background-size: cover;
}

.card-enviado {
    margin-bottom: 2em;
}

/* ****************** RESPONSIVE CSS ****************** */
/******************/
/*      IPAD      */
/*****************/

@media screen and (max-width: 991px) {
    /* GLOBAL */

    .main {
        width: 100%;
    }
    
    /* HOME */
    .carousel-item {
        height: 100% !important;
    }

    /* EJER CON PESA */

    .main-ejerconpesa {
        width: 100%;
    }

    .container-aside {
        display: none;
    }

    .main-ejerconpesa, .main-ejersinpesa {
        margin-top: 0;
    }

    .doble {
        width: 45%;
    }

    .simple {
        width: 60%;
    }

    /* Cardio */

    #cardio {
        font-size: 3em;
    }

    .texto-cardio {
        margin-left: 1em !important;
    }

    /* Musica */

    .playlist {
        width: 400px;
        height: 410px;
    }

    .titulo-playlist {
        font-size: 3.5em;
    }

    /* CIELO */

    .boton-cielo {
        position: absolute;
        right: 1%;
    }

    .boton-cielo:hover {
        text-decoration: none;
    }

    /* FOOTER */

    footer {
        width: 100%;
    }

    .needhelp {
        height: 380px;
        width: 205.2px;
    }
    
    .footer-texthelp {
        font-size: 1em;
    }

    .footer-logo-img {
        width: 85px;
        height: 85px;
    }

    .footer-text {
        font-size: 1.2em;
    }

    .center-footer-container {
        font-size: 0.9em;
    }

    .container-needhelp {
        margin-top: 2%;
    }
}

/******************/
/*   CELULARES    */
/*****************/

@media screen and (max-width: 767px) {
    /* Header */

    .header-title {
        font-size: 2em;
        width: 70%;
    }

    /* Ejercicios con y sin pesas */
    .card-container {
        display: flex;
        flex-direction: column;
    }

    .simple, .doble {
        width: 90%;
        margin: 0 auto;
    }
    
    .doble {
        margin-bottom: 3em;
    }

    .titulo-gifs {
        font-size: 3em;
    }

    /* Cardio */

    .figure-caption {
        width: 90% !important;
        margin-bottom: 1em;
    }

    .gif-cardio {
        width: 95% !important;
    }

    .container-cardio {
        flex-direction: column;
    }

    #cardio {
        font-size: 2.2em;
    }

    .texto-final-cardio {
        color: black;
        text-shadow: 0px 0px 1px white;
    }

    /* Nutricion */


    .container-nutricion {
        margin: 5% 5%;
    }

    .list-group-flush {
        width: 90% !important;
    }

    /* Musica */

    .playlist {
        width: 100%;
        height: 410px;
    }

    .fila-container {
        flex-direction: column;
    }

    /* OMS */

    .oms-title {
        font-size: 2em;
    }

    .oms-advice {
        font-size: 1.3em;
        width: 92% !important;
    }

    /* Footer */

    .footer-container {
        flex-direction: column;
        width: 100%;
    }

    .container-needhelp {
        margin: 1em auto;
    }

    .container-marca {
        margin: 0 auto;
    }
}

/******************/
/* PANTALLAS NO HD*/
/*****************/

@media screen and (max-width: 1785px) {
    .container-aside {
        font-size: 0.9em;
    }

    .aside-musica {
        display: none;
    }

    #regueton, #intenso {
        margin-top: 0;
    }

    .playlist-container {
        width: 100% !important;
    }

    .playlist {
        width: 95%;
        margin: 0 auto !important;
    }
}

@media screen and (max-width: 1620px) {
    .container-aside {
        font-size: 0.82em;
    }
}

@media screen and (max-width: 1492px) {
    .container-aside {
        display: none;
    }

    .main {
        width: 100%;
    }
}