* {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/*.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block !important;
}*/

/* ------ HEADER ------ */

.header {
    height: 45em;
    background-image: url("../img/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ------ NAV ------ */

.navbar {
    background-color: black !important;
    font-size: 0.94em;
}

.logo-web {
    width: 50px;
    height: 50px;
}

.nav-link {
    text-transform: uppercase !important;
}

/* ------ BODY ------ */

body {
    height: 100%;
}

/* ------ MAIN ------ */

.main {
    width: 80%;
    background-color: whitesmoke;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* Main de INICIO */

.cita-inicio {
    font-size: 1.2em !important;
}

.image-container {
    position: relative;
    text-align: center;
    color: white;
}

.middle-left {
    position: absolute;
    top: 50%;
    left: 8px;
}

blockquote p {
    text-shadow: 2px 2px 2px black;
    font-size: 2em;
}

.blockquote-footer {
    font-size: 1.6em;
    text-shadow: 3px 3px 2px black;
}

.carousel-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* FIN Main de INICIO */

/* Main de EJERCICIOS CON PESAS */

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    box-shadow: 0px 0px 10px black;
}

.col-md-4 {
    display: flex;
    height: 25em;
}

.vertical-medio {
    margin: auto;
}

.titulo {
    margin-bottom: 1em;
}

.main-ejerconpesa, .main-ejersinpesa {
    background-image: url(../img/fondomain.png);
    margin-top: -22%;
}

.titulo::before {
    display: block;
    content: " ";
    height: 1em;
    visibility: hidden;
}

/* Fin Main de EJERCICIOS CON PESAS */

/* Aside de EJERCICIOS CON PESAS*/

.container-aside {
    margin-left: 1em;
    position: sticky;
    top: 30%;
    margin-top: 3em;
    left: 1em;
    width: 8%;
    border-radius: 6px;
}

.container-aside li {
    border-left: 0.18em solid black;
}

.container-aside li a{
    color: black;
    transition-duration: 0.2s;
    padding-left: 0.5em !important;
}

.container-aside li a:hover {
    padding-left: 1em !important;
}

/* Fin de Aside de EJERCICIOS CON PESAS */

/* Main de EJERCICIOS SIN PESAS */

/* FIN Main de EJERCICIOS SIN PESAS */

/* Inicio de MUSICA */

.main-musica {
    /* El background-image se setea con código de index.js*/
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    margin-top: -3%;
}

.titulo-playlist {
    color: white;
    text-shadow: 2px 2px 2px black;
}

.linea-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.fila-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
}

.aside-musica {
    margin-left: 1em;
    position: sticky;
    top: 30%;
    margin-top: 3em;
    left: 1em;
    width: 8%;
    border-radius: 6px;
}

.aside-musica li {
    border-left: 0.18em solid white;
}

.aside-musica li a{
    color: white;
    transition-duration: 0.4s;
    padding-left: 0.5em !important;
    text-shadow: 0px 0px 2px black;
}

.aside-musica li a:hover {
    padding-left: 1.5em !important;
    cursor: pointer;
}

/* FIN de MUSICA */

/* Inicio de CONTACTANOS */

textarea {
    resize: none !important;
}

.text-success {
    color:green;
    font-size: 1.8em;
}

.valid {
    border: 0.12em solid green;
    border-radius: .25rem;
}

.invalid {
    border: 0.12em solid red;
    border-radius: .25rem;
}

/* FIN de CONTACTANOS */

/* INICIO del main de CARDIO */

.parallax {
    /* El background-image se setea con código de index.js*/
    /* Set a specific height */
    height: 700px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fa-check-circle { 
    color: green !important;
}

.jumbotron {
    background-image: linear-gradient( 44.8deg,  rgba(255,136,102,0.67) -53.1%, rgba(255,221,136,0.28) 49% ) !important;
}

.main-cardio {
    background-image: linear-gradient( 1.9deg,  rgba(202,253,233,1) -15.5%, rgba(255,255,255,1) 80.9% ) !important;
}